$white: #FFFFFF;
$blue-light: #EEF8FB;
$blue-dark: #96DAEF;
$footer-dark: #242A3A;
$black: #000000;
$font-size-xs: 14px;
$font-size-s: 16px;
$font-size-m: 18px;
$font-size-l: 24px;
$font-size-xl: 32px;
$font-size-xxl: 36px;