@use "../../styles/vars" as vars;

.header {
  position: relative;
  padding: 10px 20px;
  border-bottom: 1px solid vars.$color-gray;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: vars.$container-width;
  margin: 0 auto;
}

.header__logo {
  margin: 0;
  color: vars.$color-blue-400;
  font-weight: 600;
  font-size: vars.$font-size-500;
  font-family: "Playfair Display", serif;
  text-decoration: none;
}
.button {
    display: block;
    width: 100%;
    min-height: 45px;
    padding: 10px 15px;
    color: vars.$color-white;
    font-size: vars.$font-size-200;
    text-align: center;
    text-decoration: none;
    background-color: vars.$color-blue-200;
    border: none;
    border-radius: 1px;
    cursor: pointer;
    transition: background-color 0.2s ease;
  }